.header__lang-area {
  margin: 0;
  padding: 18px 0 6px;
  box-sizing: border-box;
  line-height: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .header__lang-area {
    padding: 14px 0 8px;
  }
}