.content {
  width: 100%;
  margin: 0;
  padding: 56px 0 92px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .content {
    padding: 48px 0 92px;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    padding: 48px 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 48px 0 64px;
  }
}