.cover {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1184px;
  background-image: url(../../images/cover_bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.cover::before {
  content: "";
  background: #2A2C2F;
  opacity: 0.3;
  display: block;
  width: 100%;
  padding-bottom: 62.5%;
  transition: opacity 1s;
}

.cover:hover::before {
  opacity: 0.8;
}