.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: #FFF;
}

.cover__overlay:hover {
  cursor: pointer;
}